# Spotify API (https://developer.spotify.com/dashboard)
SPOTIFY_CLIENT_ID=buraya_client_id_yaz
SPOTIFY_CLIENT_SECRET=buraya_client_secret_yaz
SPOTIFY_REFRESH_TOKEN=buraya_refresh_token_yaz

# Steam API (https://steamcommunity.com/dev/apikey)
STEAM_API_KEY=buraya_steam_api_key_yaz
STEAM_ID=steam-id
# Supabase (https://supabase.com)
SUPABASE_URL=supbase-url
SUPABASE_KEY=buraya_supabase_anon_key_yaz

# Admin Panel Sifresi
ADMIN_PASSWORD=buraya_guclu_bir_sifre_yaz

# Port (Render.com otomatik ayarlar, local icin 3000)
PORT=3000
